<div class="container">
  
  <% if logged_in? %>
  <form action="/" class="button">
    <input type="submit" name="submit" value="Click me!">
  </form>
  
    <div class="gif">
    <%if @gif %>
      <img src= '<%="#{@gif}"%>'>
      <% end %>
    </div>
  <% else %>
    <p class="error">(psst... you're not logged in.)</p>
  <% end %>
</div>


